<%- include('header'); -%>
    <div class='content'>
        <h4 id="name">Name</h4>
        <h4 id="address">Address</h4>
        <h4 id="phone">Phone</h4>
        <h4 id="email">Email</h4>
    </div>
<%- include('footer'); -%>